<div class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <a href="contact">Contact Us</a>&nbsp;<a href="about"
        >Learn More About Us</a
      >
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2025 Gulf Coast Tech Consulting</p>
      <p>
        Follow us on
        <a
          href="https://www.facebook.com/people/Gulf-Coast-Tech-Consulting/61579977209722/"
          target="_blank"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
        and
        <a
          href="https://www.linkedin.com/company/gulf-coast-tech-consulting"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </p>
    </div>
  </div>
