<div>
  <p style="padding-top: 10px;">Call us to determine the best service for your computer needs.</p>

  <table class="table store-table">
    <thead>
      <tr>
        <th colspan="2">In-store services</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Virus Removal and Operating System Repair</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Hardware Diagnostics</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Software Installation</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>Data Backup or Transfer</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>System Tune-Up</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Hardware Installation</td>
        <td>$30</td>
      </tr>
    </tbody>
  </table>

  <table class="table store-table">
    <thead>
      <tr>
        <th colspan="2">Remote services</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Virus Removal and Operating System Repair</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Software Setup and Troubleshooting</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>System Tune-Up</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
</div>
