<h1>Contact Us</h1>
<div class="mb-3">
    <form>
        <label for="name" class="form-label">Name:</label>
        <input class="form-control" type="text" id="name" name="name" required>
    
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required>
    
        <label for="message" class="form-label">Message:</label>
        <textarea class="form-control" id="message" name="message" required></textarea>
        <br>
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
</div>