<div style="padding-top: 10px;">
  <h1>Technology Consulting Services</h1>
  <p>We provide expert advice to help you make the most of your technology investments.</p>

  <table class="table store-table">
    <thead>
      <tr>
        <th colspan="2">Service</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Web Site Development</td>
        <td>$100.00/hr</td>
      </tr>
      <tr>
        <td>Technology Assessment and Recommendations</td>
        <td>$120.00/hr</td>
      </tr>
    </tbody>
  </table>
</div>
