<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000" *ngFor="let image of images; let i = index">
      <img [src]="image.src" class="d-block w-100" [alt]="image.alt">
    </div>
  </div>
</div>
<div>
    <h1>Welcome to Gulf Coast Tech Consulting</h1>
    <h5 class="text-muted">Technology Made Easy for Everyone</h5>
    <p>At Gulf Coast Tech Consulting, we provide reliable, professional, and affordable technology solutions tailored to your needs. Whether you need seamless computer installation, fast and efficient computer repair, ongoing maintenance and IT support, or custom software development to power your business, we’ve got you covered. Our mission is to keep your technology running smoothly so you can focus on what matters most. With expert knowledge, personalized service, and a commitment to excellence, Gulf Coast Tech Consulting is your trusted partner for all things tech.</p>
</div>