<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000" *ngFor="let image of images; let i = index">
      <img [src]="image.src" class="d-block w-100" [alt]="image.alt">
    </div>
  </div>
</div>
<div>
    <h1>Welcome to Gulf Coast Tech Consulting</h1>
    <p>We are here to help you with all your tech needs.</p>
    <p>Contact us for more information or to schedule a consultation.</p>
</div>