<h1>Services</h1>
<div>
    <p>We offer a wide range of tech consulting services to help your business thrive.</p>
    <p>Our services include:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Computer Maintenance and Repair</li>
        <li class="list-group-item">Computer Installation</li>
        <li class="list-group-item">Software Development</li>
        <li class="list-group-item">IT Support</li>
    </ul>
    <p>Contact us to learn more about how we can assist you.</p>
</div>